
.card-body {
    background-color:;
    border-radius: 25px; 
}

.card {
    border-color: black;
    border-radius: 25px; 
    padding: 3px;
}

.col {
    border-radius: 25px;   
}
.card{
<<<<<<< HEAD
    background-color:
=======
    background-color: ;
>>>>>>> fb53403782fc133df976c25d253812ac6bf76ef7
}

.container-fluid{
    background-color:rgb(103, 203, 243);
}

.nav{
    background-color:rgb(103, 203, 243);
}