
.card-body {
    background-color:white;
    border-radius: 25px; 
}

.card {
    border-color: black;
    border-radius: 25px; 
    padding: 3px;
}

.col {
    border-radius: 25px;   
}
body{
    background-color: #2f2f2f;
  }

.container-fluid{
    background-color:rgb(103, 203, 243);
}

.nav{
    background-color:rgb(103, 203, 243);
}
.instructions{
    padding: 10px
}
.footer {
    background-color: black;
}

.page-footer{
    color:white;
    background-color:#2F2F2F;
};
}