.row {
    float: left;
}
/* Set black background color, white text and some padding */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: larger;
  }
  img {
      width: 300px; 
      height: 300px;
  }

  #preview-game-1{
position: relative;
bottom: 11px;
  }
  
#preview-game-2{
    position: relative;
    top: 10px;
}

#preview-game-3{
    position: relative;
    top: 22px;
}

#preview-game-4{
    position: relative;
    top: 34px;
}

.top7 { 
    margin-top:7px;
    }

body{ 
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: black;
}
.container-fluid, .navbar-brand, .nav {
    background-color: rgb(103, 203, 243);
}