html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
label {
    font-weight:bold;
    margin-right:10px;
}
.table {
    display:table;
    text-align: center;
    width:100%;
    height:100%;
}

.cell {
    display:table-cell;
    vertical: align 75%;
}

.card {
    border: 4px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
}
.top7 
{ margin-top:7px; }

.instructions {
    text-align: left;  
}